/* ---------------------------------------------------------- */

/* /WHAT DOES THIS EVEN DO like what was i doing */

/* @media (min-width: 600px) {
    .home {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .myImg {
        grid-area: img;
        min-width: 250px;
    }
} */

/* ---------------------------------------------------------- */

/* For Desktop View */
/* 
@media screen and (min-width: 1024px) {
 
    #about {
    background-color: #63c971;
    color: #fff;
  }
}

/* For Tablet View */
/* 
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  #about {
    width: 400px;
    height: 400px;
    background-color: orange;
    color: black;
  }
} */
/* For Mobile Portrait View */

/* @media screen and (max-device-width: 480px)
and (orientation: portrait) {
  #about {
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  }
} */

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */



body {
    background-color: rgb(243, 223, 223);
    margin: 0;
    font-family: 'VT323', monospace;
    line-height: 1.6;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


img {
    display: block;
    max-width: 100%;
    border-radius: 500px;
    width: 250px;
    border-style: ridge;
    border-color: burlywood;
    margin-left: 40px;
    margin-bottom: -10px;
    /* margin-top: -100px; */
}

section {
    padding: 5em 2em;
}
.submit {
    padding: 0em 0em;
    margin-top: -55px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.button {
    border-style: none;
    border-radius: 5px;
    background-color: beige;
    color: gray;
}
.button:hover {
    background-color: rgb(199, 170, 170);
    color: white
}

.message {
    padding-left: 970px;
    color: gray;
}


h1, 
h2, 
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: 3.25rem;
    color: rgb(185, 160, 142);
    font-family: optima, sans-serif;
}

h2 {
    font-size: 2.25rem;
    color: rgb(185, 160, 142);
    font-family: optima, sans-serif;
}

h3 {
    font-size: 1.25rem;
    color: rgb(185, 160, 142);
    font-family: optima, sans-serif;
}

p {
    color: rgb(185, 160, 142);
    font-family: optima, sans-serif;
}

.headName {
    background-color: beige;
    padding: 0em 0em;
}

.nav {
    /* background-color: pink; */
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
}


.navItem {
    list-style: none;
    display: inline;
    cursor: pointer;
    font-family: 'Dawning of a New Day', cursive;
    font-size: xx-large;
}

.navItem:hover {
    background-color: rgb(182, 126, 120);
    color:pink;
}


.navLink {
    text-decoration: none;
    color: aliceblue;
    padding: 2em;
}

.home {
    display: flex;
    width: fit-content;
    flex-grow: inherit;
    flex-wrap: wrap;
    background-color: beige;
    border-style:solid;
    border-color: wheat;
} 

.homeTitle {
    font-weight: lighter;
    margin-bottom: .25em;
    text-align: center;
    margin-left: 460px;
    margin-top: -170px;
    max-height: 80px;
}

.homeSub {
    margin: 0;
    font-size: x-large;
    width: fit-content;
    text-align: center;
    margin-left: 360px;
    margin-top: -170px;
}

.expTitle,
.projTitle {
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 40px;
    border-style: solid;
    border-color: beige;
}

.expSub,
.projSub {
    background-color: pink;
    text-align: center;
}

.expList {
    list-style:circle ;
    text-align: center;
    background-color: white;
    color: pink;
    margin-bottom: -70px;
}

header {
    padding: 0em 1em;
}

footer {
    background-color: lightblue;
}

#mySocials {
    list-style: none;
    display: flex;
    align-items: flex-start;
    font-size: x-large;
}

.fa-brands {
    padding: 10px;
    padding-left: 18px;
    color: white;
}

.fa-brands:hover {
    color: rgb(199, 170, 170);
}

.container {
    display: flex;
    margin-left: 50px;
}

